@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

*{
    margin:0;
    padding:0;
}

html{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 15px;
    background-color: rgb(221, 156, 102)
}

body{
    background-color: rgb(221, 219, 102);
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    
}

h1{
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    color: rgb(57, 166, 129);
    padding: 20px 0;
}

h1{
    color: blue;
}

p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

p{
    color: red;
    width: 500px;
    text-align: center;
}

img{
    display: block;
    margin: 20px auto;
    border: 3px solid black;
}

a{
    font-size: 18px;
    text-align: center;
    margin: 2px;
}

.item{
    color: blue;
}